@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ebebeb;
}

.nav-logo {
  background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.8.2/mercadolibre/logo__large_plus.png);
  height: 34px;
  top: 11px;
  width: 134px;
  display: inline-block;
}

header {
  background-color: #fff159;
  padding: 1em 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.nav .search-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1em;
}

.nav .search-bar input {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 39px;
  padding: 7px 60px 9px 15px;
  border-radius: 2px;
  background-color: #fff;
  border: 0 rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 915;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav .search-bar button {
  padding: 0 1em;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}

.breadcrums {
  margin-bottom: 1em;
}

.breadcrums li {
  list-style: none;
  display: inline;
  color: #666;
}

.breadcrums li::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  padding: 0 1em;
  font-size: 0.75rem;
}

.breadcrums li:last-child::after {
  display: none;
}

.search-result {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.search-result li {
  list-style: none;
  padding: 1em;
  border-bottom: 1px solid #CCC;
}

.search-result li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: initial;
  text-decoration: none;
}

.search-result li a:last-child {
  border-bottom: none;
}

.search-result li a img {
  margin-right: 1em;
}

.search-result li a .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search-result li a .info .price {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: .3em;
}

.item-result {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
}

.item-result .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-result .top img {
  margin-right: 2em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  min-width: 90px;
}

.item-result .top .info {
  -ms-flex-preferred-size: 30em;
      flex-basis: 30em;
}

.item-result .top .info .price {
  font-size: 3rem;
}

.item-result .top .info .title {
  font-weight: bold;
}

.item-result .top .info button {
  margin-top: 1em;
  display: block;
  font-size: 1.5rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

button {
  text-align: center;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  background-color: #ebebeb;
}

button.primary {
  background-color: #3483fa;
  color: white;
}

button.primary:hover, button.primary:active {
  background-color: #0665f5;
}
/*# sourceMappingURL=app.css.map */