@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

$bg-color: #ebebeb;
$brand-color: #fff159;
$primary-color: #3483fa;
$primary-active-color: darken($primary-color,10%);


body{
  background-color: $bg-color;
}

.nav-logo{
  background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.8.2/mercadolibre/logo__large_plus.png);
  height: 34px;
  top: 11px;
  width: 134px;
  display: inline-block;
}

header{
  background-color: $brand-color;
  padding: 1em 0;
}

.nav{
  display: flex;
  max-width: 1200px;
  margin: auto;

  .search-bar{
    flex-grow: 1;
    display: flex;
    padding-left: 1em;

    input{
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
      height: 39px;
      padding: 9px;
      width: 100px;
      border-radius: 2px;
      background-color: #fff;
      border: 0 rgba(0,0,0,.2);
      position: relative;
      box-sizing: border-box;
      z-index: 915;
      flex-grow: 1;
    }

    button{
      padding: 0 1em;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    }

  }

}

.container{
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}


.breadcrums{
  margin-bottom: 1em;
  li {
    list-style: none;
    display: inline;
    color: #666;
    padding: 0 .3em;
  }
}

.search-result{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  background-color: #fff;

  li {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid #CCC;

    a{
      display: flex;
      color: initial;
      text-decoration: none;

      &:last-child{
        border-bottom: none;
      }
      
      img {
        margin-right: 1em;
        width: 90px;
      }
  
      .info{
        flex-grow: 1;
  
        
      }
    }

  }

}

.item-result{
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  padding: 2em;

  .top{
    display: flex;
    @media (max-width: 600px) {
      display: block;
    }
    img {
      margin-right: 2em;
      flex-grow: 1;
      width: 100%;
      min-width: 90px;
      max-height: 500px;
      object-fit: contain;
    }

    .info{
      flex-basis: 30em;

      .price{
        font-size: 3rem;
      }

      .title{
        margin-top: 1em;
        font-size: 1.3em;
        font-weight: bold;
      }

      button{
        margin-top: 1em;
        display: block;
        font-size: 1.5rem;
        width: 100%;
      }

    }

  }

}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: .3em;
  sup{
    font-weight: normal;
    font-size: 1rem;
    margin: 0 .25em;
  }
}

h1,h2,h3,h4,h5,h6{
  margin-top: .5em;
  margin-bottom: .5em;
}

button{
  text-align: center;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  background-color: $bg-color;

  &.primary{
    background-color: $primary-color;
    color: white;
  }

  &.primary:hover,
  &.primary:active{
    background-color: $primary-active-color;
  }
}
